*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --primary-color:#23A6F0;
    --light-primary-color: #D9EDFF;
    --text-color:#252B42;
    --second-text-color:#737373;
    --light-text-color:#FFFFFF;
    --disabled-color:#8EC2F2;
    --muted-color:#BDBDBD;
    --success-color:#2DC071;
    --light-gray:#FAFAFA;

}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.flex-container{
display: flex;
flex-wrap: wrap;
}
.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1440px;
}
.btn{
    color: var(--light-text-color);
    background: var(--primary-color) !important;
    text-transform: capitalize;
    font-weight: 700;
    border: 0;
}
/***** newsletter *****/
.newsletter{
    background: var(--text-color);
    min-height: 29vh;
    display: flex;
    padding: 3.125rem 0;
}
.newsletter .flex-container{
    align-items: center;
    justify-content: space-between;
}
.newsletter__header{
    width: 49%;
}
.newsletter__desc{
    color: var(--light-text-color);
    text-align: left;
}
.newsletter__subscribe{
    width: 39%;
    position: relative;
}
.btn{
    color: var(--light-text-color);
    background: var(--primary-color) !important;
    text-transform: capitalize;
    font-weight: 700;
    border: 0;
}

#subscribe {
    height: 58px;
    width: 386px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 0.9375rem;
}
.newsletter__submit{
    position: absolute;
    top: 0;
    bottom: -136px;
    right: 4rem;
    width: 117px;
    height: 58px;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    z-index: 2;
}
.newsletter__title{
    color: var(--light-text-color);
    padding-bottom: 1.6875rem;
    text-align: left;
}
.newsletter__title-responsive{
    display: none;
}
/***** End newsletter *****/
/***** media queries *****/
@media screen and (max-width: 1200px) and (min-width:577px){
    .newsletter{
        flex-direction: column;
    }
    .newsletter .flex-container{
        flex-direction: column;
    }
    .newsletter__header{
        width: 100%;
    }
    .newsletter__subscribe{
        width: 100%;
    }
    .newsletter__submit{
        right: 0;
    }
    .newsletter__desc.section__desc {
        padding: 0.9375rem 0;
    }
    #subscribe{
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .newsletter .flex-container{
        flex-direction: column;
    }
    .newsletter__subscribe{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .newsletter__submit{
        right: 1rem;
    }
    .newsletter__desc{
        padding: 0.9375rem 0;
    }
    .newsletter__header{
        width: 100%;
    }
    .newsletter__desc.section__desc{
        display: none;
    }
    .section__title.newsletter__title{
        display: none;
    }
    .newsletter__title-responsive{
        display: block;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 0.9375rem;
        color: var(--light-text-color);
    }
}
/***** End media queries *****/