*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --primary-color:#23A6F0;
    --light-primary-color: #D9EDFF;
    --text-color:#252B42;
    --second-text-color:#737373;
    --light-text-color:#FFFFFF;
    --disabled-color:#8EC2F2;
    --muted-color:#BDBDBD;
    --success-color:#2DC071;
    --light-gray:#FAFAFA;

}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.flex-container{
display: flex;
flex-wrap: wrap;
}
.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1440px;
}
.btn{
    color: var(--light-text-color);
    background: var(--primary-color) !important;
    text-transform: capitalize;
    font-weight: 700;
    border: 0;
}
/***** navbar  *****/
.navbar .flex-container {
    align-items: center;
}
.navbar{
    top: 0;
    width: 100%;
    z-index: 11;
    padding: 0.625rem 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__logo a{
    text-transform: capitalize;
    color: var(--light-text-color);
    font-size: 1.5rem;
}
.navbar__list{
    display: flex;
    margin-left: 12%;
    align-items: center;
}
.navbar__list-responsive{
    display: flex;
    margin-left: 12%;
    align-items: center;
}
.navbar__action{
    margin-left: auto;
}
.navbar__action button{
    padding:1.25rem 3.75rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.rigth-arrow-icon{
    margin-left: 0.4375rem;
    width: 12px;
    height: 10px;
    fill: var(--light-text-color);
}
.search-icon{
    width: 24px;
    height: 24px;
    fill: var(--light-text-color);
    display: none;
}
.cart-icon{
    width: 24px;
    height: 23px;
    fill: var(--light-text-color);
    display: none;
}
.menu-icon{
    width: 24px;
    height: 14px;
    fill: var(--light-text-color);
    display: none;
}
.navbar__action svg{
    margin-left: 0.4375rem;
}
.navbar__list-item{
    margin-right: auto;
    padding: 0 0.9375rem;
}
.navbar__list-item a{
    padding: 0.3125rem 0.625rem;
    color: var(--light-text-color);
    text-transform: capitalize;
    font-weight: 600;
}
/***** End navbar *****/